<div class="content">
<h1><font color="Red">ADMIN RIGHTS ONLY</font></h1>
  <h2>Edit Pub</h2>


    <form action="/pubs/<%= @pub.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= @pub.name %>"><br>
    <input type="text" name="address" value="<%= @pub.address %>"><br>
    
    <label for="name">Select area:</label>
    <select name="area_id">
    <% for area in @areas %> 

    <option value="<%= area.id %>"><%= area.area_name %></option>
    
    <% end %> 
    </select>

    <input type="hidden" name="_method" value="put">
    <input type='submit' value="Update Pub">
  </form>

</div>